body {
	font-family: "Trebuchet MS", Helvetica, sans-serif
}

body code {
	font-family: Consolas, "Lucida Console", Monaco, monospace
}

pre { 
	clear: both;
	margin: 5px;
	padding: 15px 20px;
	border :{
		radius:15px;
		width: 5px;
		style:solid;
	}
}

.lang-scss {border-color:red;}
.lang-css {border-color:blue;}

table.scss-css {
	clear:both; 
	td {
		vertical-align:top;
	}
}
