#navbar {
  width: 600px;
  border: 5px solid #ce4dd6;
  float: left; }
  #navbar li {
    width: 190px;
    float: left;
    background-color: #e5a0e9; }
    #navbar li:hover {
      background-color: #d976e0; }

