li {
  background-colour: red; }

li:nth-child(0) {
  background-color: red; }

li:nth-child(1) {
  background-color: #ff3333; }

li:nth-child(2) {
  background-color: #ff6666; }

li:nth-child(3) {
  background-color: #ff9999; }

li:nth-child(4) {
  background-color: #ffcccc; }

li:nth-child(5) {
  background-color: white; }

