#outer {
  $width: 600px;
  $items: 3;
  $color: #ce4dd6;

  width: $width;
  border: 5px solid $color;
  float:left;
  p {
    width: $width/$items;
	float:left;
	margin:0px;
    background-color:lighten($color, 20%);
    &:hover {
      background-color:
        lighten($color, 10%);
    }
  }
}

