$x:5px;
$y:10%;

#mult	{width:$x * 5;}
#div	{width:$x / 2;}
#mod	{width:$x % 2;}
#add	{width:$x + 3px;}

// Sass will do unit conversion if it can
#add2	{width:6pt + 3px;}

// this will cause an error because the units of
// x and y do not match.
// #error {width:$x+$y;}  
