//* scss-compile-options: --style expanded
// compact, compressed, indented, expanded
#main {
  width: 97%;

  p, div {
    font-size: 2em;
    a { 
      font-weight: bold;
      &:hover {
        background-color:yellow;
      } 
    }
  }

  pre { font-size: 3em; }
}

// example of nesting properties
.funky {
  font: 2px/3px {
    family: fantasy;
    size: 30em;
    weight: bold;
  }
}